*{
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
body{ 
    background-color: #444B58;
}
.body__footer{
    background-color: #A42525;
}